@import '../../styles/fonts';
@import '../../styles/variables';

.image-upload-form {

    .image-uploader {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;
        border: 2px dashed $four;
        border-radius: 8px;
    
    
        .upload-area {
            width: 100%;
            max-width: 400px;
            height: 50px;
            // border: 2px dashed #8cb7df;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: relative;
    
    
            .upload-icon {
                font-size: 2rem;
            }
    
    
            p {
                color: $two;
                font-size: 16px;
            }
    
    
            .upload-input {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
        }
    
        .error-message {
            color: $danger;
            font-size: 14px;
            font-weight: $font-light;
        }
    
    
        .image-upload-grid {
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
    
    
            @media (max-width: 678px) {
                grid-template-columns: repeat(4, 1fr);
            }
    
            @media (max-width: 599px) {
                grid-template-columns: repeat(3, 1fr);
            }
    
    
            .image-upload-box {
                width: 100px;
                height: 100px;
                border: 2px dashed $three;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                cursor: pointer;
    
    
                .image-container {
                    width: 100%;
                    height: 100%;
                    position: relative;
    
                    .remove-icon {
                        top: -10px;
                        right: -10px;
                        position: absolute;
                        color: $danger;
                        font-size: 24px;
                    }
                }
    
    
                @media (max-width: 576px) {
                    width: 90px;
                    height: 90px;
                }
    
    
                @media (max-width: 390px) {
                    width: 70px;
                    height: 70px;
                }
    
    
                .uploaded-image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
    
    
                .plus-icon {
                    color: $two;
                    font-size: 24px;
                    transition: all 0.3s ease-in-out;
                }
    
    
                input {
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }
            }
    
    
            .image-upload-box:hover {
                .plus-icon {
                    color: $two;
                    font-size: 28px;
                }
            }
        }
    
        .form-navigation {
            display: flex;
            justify-content: space-between;
            margin: 10px 0;
    
            button {
                padding: 5px 10px;
                font-family: 'Ubuntu', sans-serif;
                font-size: 15px;
                font-weight: $font-light;
                color: $white;
    
                &:hover {
                    opacity: 0.8;
                }
    
                &.back-button {
                    background-color: $danger;
                    cursor: pointer;
                    border-radius: 5px;
                    border: none;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                }
    
                &.next-button {
                    background-color: $two;
                    cursor: pointer;
                    border-radius: 5px;
                    border: none;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                }
            }
        }
    }

    .form-navigation {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;

        button {
            padding: 5px 10px;
            font-family: 'Ubuntu', sans-serif;
            font-size: 15px;
            font-weight: $font-light;
            color: $white;

            &:hover {
                opacity: 0.8;
            }

            &.back-button {
                background-color: $danger;
                cursor: pointer;
                border-radius: 5px;
                border: none;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }

            &.next-button {
                background-color: $two;
                cursor: pointer;
                border-radius: 5px;
                border: none;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
        }
    }
}