@import './fonts';
@import './variables';

.filters {

    .container {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 20px;

        .filter-display {
            width: 80%;
            margin: 0 auto;
        }

        .filters-container {
            width: 20%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            background-color: #fff;
            
            .filter-form {
                padding: 20px;

                label[htmlFor=category] {
                    font-weight: $font-light;
                }
            }
        }
    }
}