@import './fonts';
@import './variables';


.home-page {
    background-color: $white;


    p {
        text-align: center;
        font-size: 15px;
        color: $dark;
        font-family: 'Ubuntu', sans-serif;
        font-weight: $font-regular;
    }
}