@import './fonts';
@import './variables';


.manage-user {


    h2 {
        color: $white;
    }


    .filters {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: $gray-dark;
        border-radius: 12px;
        margin: 10px 0;


        label {
            font-size: 14px;
            font-weight: $font-light;
            color: $white;
        }

        input[type=date] {
            margin-left: 0.5rem;
            padding: 5px 8px;
            font-size: 12px;
            font-family: 'Ubuntu',sans-serif;
            font-weight: $font-light;
            outline: none;
        }


        select {
            margin-left: 0.5rem;
            padding: 5px 8px;
            font-size: 12px;
            font-family: 'Ubuntu',sans-serif;
            font-weight: $font-light;
            outline: none;
        }


        button {
            padding: 5px 8px;
            font-size: 12px;
            font-family: 'Ubuntu',sans-serif;
            font-weight: $font-light;
            background-color: $secondary-color;
            border: 1px solid $secondary-color;
            cursor: pointer;
            color: $white;
        }
    }
}