@import './fonts';
@import './variables';


.search-section {
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    .search-header {
        display: flex;
        align-items: center;
        margin-bottom: 16px;


        span {
            font-weight: $font-regular;
            color: $dark;
        }
    }

    .search-form {
        display: flex;
        gap: 5px;

        @media (max-width: 768px) {
            flex-direction: column;
        }

        .select,
        .input {
            padding: 12px;
            border: 1px solid #ddd;
            border-radius: 8px;
            flex: 1;
            font-family: 'Ubuntu', sans-serif;
            font-size: 15px;
            font-weight: $font-light;
            outline: none;

            &:focus {
                border-color: $two;
                outline: none;
            }
        }

        option {
            font-weight: $font-light;
            font-size: 14px;
        }

        .button {
            font-family: 'Ubuntu', sans-serif;
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 0 20px;
            background: $two;
            color: $white;
            border: none;
            border-radius: 8px;
            cursor: pointer;

            @media (max-width: 768px) {
                padding: 10px 16px;
            }

            &:hover {
                background: $three;
            }
        }
    }
}