@import './fonts';
@import './variables';


.success-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $white;
    height: 80vh;
    border-radius: 12px;


    .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px;



        div svg {
            font-size: 2rem;
            color: $success;
        }
    }

    p {
        margin: 15px;
        color: $dark;
        font-size: 1.1rem;
        font-weight: $font-light;
    }

    button {
        margin: 15px;
        padding: 8px 14px;
        border: none;
        background-color: $secondary-color;
        color: $white;
        font-size: 1.1rem;
        border-radius: 12px;
        cursor: pointer;
        font-weight: $font-light;
        transition: $transition;
        font-family: 'Ubuntu',sans-serif;
    }

    button:hover {
        opacity: 0.8;
    }
}