@import './fonts';
@import './variables';


.user-profile {
    width: 100%;

    .user-data {
        background-color: $white;
        border-radius: 12px;
        padding: 10px 20px;


        label {
            display: flex;
            align-items: center;
            position: relative;
            margin: 0.5rem 0;

            input {
                width: 98%;
                border: 1px solid $light;
                outline: none;
                border-radius: 8px;
                font-size: 15px;
                padding: 8px 15px;
                font-weight: $font-light;
                font-family: 'Ubuntu', sans-serif;
            }


            svg {
                right: 10px;
                position: absolute;
            }
        }


        .seperator {
            height: 1px;
            background-color: $light;
        }


        h4 {
            color: $gray-dark;
        }


        h2 {
            color: $gray-dark;
            position: relative;



            .pen {
                color: $light;
                font-size: 15px;
                position: absolute;
                left: 98%;
                cursor: pointer;
            }
        }


        p {
            font-size: 16px;
            font-weight: $font-light;
            width: 100%;
            position: relative;


            .icon {
                color: $light;
                font-size: 15px;
                margin-right: 0.75rem;
            }

            .pen {
                color: $light;
                font-size: 15px;
                position: absolute;
                left: 98%;
                cursor: pointer;
            }
        }


        .update-pass {
            color: $white;
            padding: 8px 15px;
            border: none;
            border-radius: 12px;
            background-color: $gray-dark;
            font-size: 15px;
            font-weight: $font-light;
            font-family: 'Ubuntu', sans-serif;
            cursor: pointer;
        }

        .update-pass:hover {
            opacity: 0.8;
        }


        .save-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            padding: 2px;
            width: 31px;
            height: 31px;
            background-color: $two;
            font-size: 18px;
            color: $white;
            right: 0;
            cursor: pointer;
            position: absolute;
        }


        .banner {
            border: 1px solid $light;
            outline: none;
            border-radius: 8px;
            align-items: center;
            display: flex;
            font-size: 15px;
            height: 30px;
            // padding: 8px 15px;
            font-weight: $font-light;
            font-family: 'Ubuntu', sans-serif;

            // .icon {
            //     cursor: pointer;
            //     margin-right: 10px;
            //     font-size: 1.5rem;
            // }

            .file-info {
                margin-left: 10px;
                font-size: 1rem;
                color: #333;

                p {
                    font-size: 13px;
                }
            }

            .icons-actions {
                position: absolute;
                display: flex;
                float: right;
                right: 30px;
                border-left: 1px solid $light;



                // svg {
                //     cursor: pointer;
                //     margin: 0 8px;
                // }
            }
        }
    }


    .background {
        position: relative;
        display: flex;
        width: 100%;
        height: 300px;

        @media (max-width: 767px) {
            height: 200px;
        }


        .avatar {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            border: 4px solid $white;
            position: absolute;
            top: 75%;
            left: 20px;

            @media (max-width: 768px) {
                top: 70%;
                width: 90px;
                height: 90px;
            }
        }

        .wrap-camera {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $white;
            color: $dark;
            font-size: 12px;
            padding: 5px;
            border-radius: 50%;
            position: absolute;
            top: 85%;
            left: 110px;
            cursor: pointer;
        }

        .wrap-camera:hover {
            color: $two;
        }
    }

    input[type="file"] {
        margin-top: 20px;
    }


    .banner {
        position: relative;
        border: 1px solid $light;
        outline: none;
        border-radius: 8px;
        align-items: center;
        display: flex;
        font-size: 15px;
        height: 30px;
        // padding: 8px 15px;
        font-weight: $font-light;
        font-family: 'Ubuntu', sans-serif;

        // .icon {
        //     cursor: pointer;
        //     margin-right: 10px;
        //     font-size: 1.5rem;
        // }

        .file-info {
            margin-left: 10px;
            font-size: 1rem;
            color: #333;

            p {
                font-size: 13px;
            }
        }

        .icons-actions {
            position: absolute;
            display: flex;
            float: right;
            right: 5px;
            border-left: 1px solid $light;



            svg {
                margin: 0 8px;
            }

            svg.delete {
                color: #f44336;
            }
        }
    }
}