@import './fonts';
@import './variables';

.account-section {
    // padding: 10px;
    background-color: $secondary-color;
    height: 80vh;
    overflow: scroll;
    scrollbar-width: none;


    .section {
        padding: 20px;
        border-radius: 12px;
        background-color: $white;


        .account-intro {
            text-align: center;
            margin-bottom: 20px;


            h1 {
                color: $dark;
                font-weight: $font-medium;
                font-family: 'Ubuntu', sans-serif;
            }

            p {
                color: $dark;
                font-weight: $font-regular;
                font-family: 'Ubuntu', sans-serif;
            }
        }

        h2 {
            font-size: 18px;
            padding: 5px 10px;
            color: $dark;
            font-weight: $font-medium;
            font-family: 'Ubuntu', sans-serif;
        }

        p, sub {
            padding: 5px 10px;
            text-align: justify;
            font-family: 'Ubuntu', sans-serif;
            font-weight: $font-light;
        }
    }
}