@import '../../styles/fonts';
@import '../../styles/variables';


.details {
    .form-navigation {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;

        button {
            padding: 5px 10px;
            font-family: 'Ubuntu', sans-serif;
            font-size: 15px;
            font-weight: $font-light;
            color: $white;

            &:hover {
                opacity: 0.8;
            }

            &.back-button {
                background-color: $danger;
                cursor: pointer;
                border-radius: 5px;
                border: none;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }

            &.next-button {
                background-color: $two;
                cursor: pointer;
                border-radius: 5px;
                border: none;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
        }
    }
}