@import '../../styles/fonts';
@import '../../styles/variables';


.ad-form {
    
    h2 {
        text-align: center;
        color: $gray-dark;
        font-weight: $font-regular;
    }

    button {
        color: $white;
        padding: 8px 14px;
        font-weight: $font-light;
        font-size: 14px;
        font-family: 'Ubuntu', sans-serif;
    }

    .form-navigation {
        display: flex;
        justify-content: space-between;
        margin: 10px;

        .back-button {
            background-color: $danger;
            cursor: pointer;
            border-radius: 5px;
            border: none;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }

        .next-button {
            background-color: $two;
            cursor: pointer;
            border-radius: 5px;
            border: none;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
    }
}