@import '../../styles/variables';
@import '../../styles/fonts';


.rating-container {
    padding: 10px;
    width: 95%;

    .rating-summary {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;

        h2 {
            font-size: 48px;
            font-weight: $font-regular;
            color: $dark;
        }

        .total-stars {
            display: flex;
            flex-direction: column;
            margin-left: 10px;

            .total {
                font-size: 13px;
                color: $dark;
            }
        }
    }

    .rating-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        .stars {
            min-width: 100px;
        }

        .count {
            font-size: 13px;
            color: $dark;
        }
    }
}