@import '../../styles/fonts';
@import '../../styles/variables';

.message-to-advertiser {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;

    label {
        font-weight: $font-regular;
        font-family: 'Ubuntu',sans-serif;
    }

    textarea {
        // width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        resize: none;
        font-family: 'Ubuntu',sans-serif;
        font-weight: $font-light;
    }

    button {
        align-self: flex-end;
        padding: 8px 15px;
        background-color: $two;
        color: $white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;

        &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }

        &:hover:not(:disabled) {
            background-color: $three;
        }
    }

    .predefined-messages {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        button {
            background: $dark;
            border: 1px solid #ccc;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background: #e0e0e0;
        }
    }
}
