@import '../../styles/variables';
@import '../../styles/fonts';

.pagination {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 2rem;
    background-color: $dark;
    padding: 8px 0;
    border-radius: 12px;

    .page-btn {
        padding: 0.5rem 1rem;
        border: 1px solid #ddd;
        background: $white;
        cursor: pointer;
        transition: all 0.3s ease;
        font-family: 'Ubuntu', sans-serif;

        &:hover {
            background: #f0f0f0;
        }

        &.active {
            background: $two;
            color: $white;
            border-color: $two;
        }

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}