@import '../../styles/fonts';
@import '../../styles/variables';

.ad-container {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: $white;
    transition: box-shadow 0.3s ease;
    width: 13rem;
    height: 265px;

    a {
        text-decoration: none;

        .ad-image-container {
            width: 100%;
            overflow: hidden;
            height: 50%;
            /* Adjust this percentage as needed */

            img {
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }

        .ad-info {
            padding: 10px;
            height: 30%;
            /* Adjust this percentage as needed */
            overflow: hidden;
        
            .ad-title {
                font-size: 16px;
                font-weight: 500;
                margin: 0 0 10px;
                white-space: nowrap;
                color: $black;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
            .ad-description {
                font-size: 14px;
                color: #555;
                margin-top: 10px;
                /* white-space: nowrap; */
                /* overflow: hidden; */
                /* text-overflow: ellipsis; */
            }
        }

        .ad-footer {
            margin: 0;
            border-top: 1px solid #e0e0e0;
            background-color: #f9f9f9;
            text-align: left;
            height: 15%;
            /* Adjust this percentage as needed */
        
            .ad-domain-name {
                font-size: 12px;
                color: #888;
            }
        }
    }

    .ad-modal-container {
        padding: 20px;
        background-color: $white;

        .ad-header {
            h4 {
                font-size: 20px;
                margin: 0 0 10px;
            }

            p {
                font-size: 16px;
                margin: 0;
            }
        }

        .ad-links {
            margin-top: 20px;

            span {
                display: block;
                margin-bottom: 10px;

                a {
                    color: $two;
                    text-decoration: none;
                    transition: color 0.3s ease;
                }

                a:hover {
                    color: $three;
                }
            }
        }
    }

    .ad-insigne {
        width: 92%;
        position: absolute;
        top: 0;
        /* right: 0; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .ad-pub {
            font-size: 12px;
            color: var(--one);
            background-color: $light;
            padding: 2px 6px;
            border-radius: 4px;
        }

        .three-dots {
            font-size: 20px;
            color: var(--one);
            border-radius: 50%;
            padding: 4px;
            cursor: pointer;
            background-color: $light;
            transition: color 0.3s ease;
        }
        
        .three-dots:hover {
            opacity: 0.8;
        }
    } 
}
