@import '../../styles/fonts';
@import '../../styles/variables';


.status {
    padding: 10px;
    background-color: $white;
    margin-top: 5rem;
    border-radius: 12px;


    @media (max-width: 768px) {
        margin-top: 9rem;
    }

    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        border-radius: 5px;

        h2 {
            font-size: 18px;
            // color: $white;
            font-family: 'Ubuntu', sans-serif;
            font-weight: $font-regular;
        }

        .add-new-ad {
            padding: 10px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            display: flex;
            align-items: center;
            background: $gray;
            color: $white;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;


            svg {
                font-size: 16px;
            }

            span {
                font-weight: $font-light;
                margin-left: 5px;
                font-size: 15px;
                font-family: 'Ubuntu', sans-serif;
            }
        }
    }
}