@import '../../styles/variables';
@import '../../styles/variables';

.stats-grid {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    .stat-item {
        
        margin-right: 20px;

        .stat-label {
            font-size: 13px;
            font-weight: $font-light;
        }

        .stat-value {
            font-size: 18px;
            font-weight: $font-regular;
            color: $dark;
        }
    }
}