@import './fonts';
@import './variables';


.manage-user {
    margin-top: 4rem;

    @media (max-width: 768px) {
        margin-top: 10rem;
    }

    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            color: $dark;
        }

        svg {
            color: $dark;
            cursor: pointer;
        }
    }

    .card-list {
        overflow-x: auto;
        scrollbar-width: thin;

        table {
            width: 100%;
            border-collapse: collapse;
            min-width: 800px;
            background-color: $white;
            border-radius: 12px;

            th,
            td {
                padding: 12px;
                text-align: left;
                border: 1px solid #ddd;
                white-space: nowrap;
                font-size: 14px;
                font-weight: $font-light;

                .img {
                    border-radius: 50%;
                }

                .see-more {
                    background-color: $two;
                    color: white;
                    padding: 6px 12px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    font-weight: $font-light;
                    font-family: 'Ubuntu', sans-serif;

                    &:hover {
                        background-color: $three;
                    }
                }
            }
        }
    }

    .modal-menu {
        .menu-item {
            padding: 12px 16px;
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;

            &:hover {
                background: #f5f5f5;
            }

            svg {
                font-size: 14px;
                color: #666;
            }

            span {
                color: #333;
                font-weight: $font-light;
                // font-size: 13px;
            }
        }
        .menu-item[disabled] {
            opacity: 0.5;
            pointer-events: none;
        }
    }

    .action-menu {
        display: flex;
        flex-direction: column;

        label {
            font-family: 'Ubuntu', sans-serif;
            font-size: 14px;
            margin-bottom: 10px;
        }

        textarea {
            font-family: 'Ubuntu', sans-serif;
            // font-size: 14px;
            font-weight: $font-light;
            padding: 10px;
            outline: none;
        }

        .modal-actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;

            button {
                padding: 8px 10px;
                font-family: 'Ubuntu',sans-serif;
                font-size: 15px;
                border-radius: 5px;
                border: 1px transparent;
                color: $white;
                font-weight: $font-light;
                cursor: pointer;
            }

            .confirm-btn {
                background-color: $two;
            }

            .cancel-btn {
                background-color: $danger;
            }
        }
    }

    .filters {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding: 10px 20px;
        background-color: $gray-dark;
        border-radius: 12px;
        margin: 10px 0;

        @media (max-width: 768px) {
            align-items: flex-start;
            flex-direction: column;
        }


        input[type=text],
        input[type=date],
        select {
            padding: 10px 8px;
            font-family: 'Ubuntu', sans-serif;
            font-size: 16px;
            font-weight: $font-light;
            outline: none;
        }
    }
}