@import '../../../styles/fonts';
@import '../../../styles/variables';


.form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    padding: 10px 15px;
    color: $gray-dark;
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


    .detail-container {


        .section-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $light;
            border-radius: 8px;
            padding: 0 10px;
            height: 40px;
            cursor: pointer;
    
    
            .d-flex-row {
                display: flex;
                align-items: center;
    
    
                h5 {
                    margin-left: 0.5rem;
                }
            }
    
    
            .done-icon .complete {
                color: $success;
            }
    
            .done-icon .not-complete {
                color: $danger;
            }
        }
    
    
        label {
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            padding: 10px;
            font-family: 'Ubuntu', sans-serif;
            font-size: 15px;
            font-weight: $font-regular;
    
    
            input,
            textarea,
            select,
            option {
                padding: 10px 15px;
                margin-top: 10px;
                font-family: 'Ubuntu', sans-serif;
                font-size: 15px;
                outline: none;
                font-weight: $font-light;
            }
    
    
            div {
                margin-top: 10px;
                font-family: 'Ubuntu', sans-serif;
                font-size: 15px;
                font-weight: $font-light;
            }
        }
    
    
        label#checkbox {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-weight: $font-light;
            margin-top: 0;
        }


        .button-group {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 15px;


            button {
                font-family: 'Ubuntu', sans-serif;
                font-size: 14px;
                font-weight: $font-light;
                cursor: pointer;
                border: 1px solid $three;
                padding: 8px;
                border-radius: 8px;
            }


            button#previous {
                background-color: $white;
                color: $three;
            }


            button#continue {
                background-color: $three;
                color: $white;
            }


            button#post {
                background-color: $secondary-color;
                color: $white;
                border: 1px solid $secondary-color;


                .svg {
                    margin-right: 5px;
                    font-size: 14px;
                }
            }
        }


        .error-message {
            font-size: 14px;
            font-family: "Ubuntu", sans-serif;
            color: $danger;
            font-weight: $font-light;
            /* margin-top: 1rem; */
            text-align: center;
        }
    }
}