@import '../../styles/variables';
@import '../../styles/fonts';

.search-bar {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    height: 40px;
    background-color: $white;
    border-radius: 18px;
    border: 1px solid $white;


    input {
        width: 98%;
        height: 88%;
        padding-left: 10px;
        font-size: 16px;
        font-family: "Ubuntu", sans-serif;
        font-weight: $font-light;
        font-style: normal;
        border: 'none';
        border-radius: 18px;
        border: 1px solid $white;
        outline: none;
    }


    .fa-search {
        position: absolute;
        font-size: 24px;
        right: 10px;
        cursor: pointer;
        color: $gray;
    }
}