@import '../../styles/variables';
@import '../../styles/fonts';

.date-range-picker {
    .date-input {
        padding: 8px 12px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 14px;
        font-weight: $font-light;
        width: 200px;
        cursor: pointer;
        font-family: 'Ubuntu',sans-serif;
        
        &:focus {
            outline: none;
            border-color: $two;
        }
    }
}